
body{
     align-items:center ;
    background-image: url("bg.jpg");
    background-size: contain;
}
* {
    padding: 0;   
    margin: 0;
    line-height: 2rem;
 }
 .main{
   position: absolute;
   top: 35%;
   left: 35%;
 }
 .main2{
   position: absolute;
   top: 65%;
   left: 45%;
 }
 header a {
    text-decoration: none;
    box-sizing: border-box;
    margin: 1rem;
    color: black;
    font-style: normal;
  }
 header a:hover{
    color: #f2ecec;
 }
 
 header {
    display: flex;
    background-color: #EB455F;
    margin-bottom: 5px;
 }
#convert {
    background-color:#A555EC;
    color: #060606;
  }
  #convert:hover {
    background-color:  #2689d4;
  }
  h1 {
   position: absolute;
   top: 25%;
   left: 40%;
    font-family: sans-serif;
    color: #850000;
  }
  input {
    display: block;
    padding: 10px;
    margin-top: 10px;
    font-size: 2em;
    color: #131212;
    font-family: cursive, sans-serif;
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { 
     color: #ccc;  
  }
  ::-moz-placeholder {  
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
  button {
    padding: 10px;
    font-size: 1.2em;
    color: #545454;
  }
  footer{
    background-color: black;
    color: #f2ecec;
    margin-top: 130px;
 }
 
